/*!
 * Custom CSS for UMW Tender
 */

/* header */
body {
    font-family: 'Work Sans', sans-serif !important;
    color: #777 !important;
    background: #f5f5f5;
}
.page-header {
    padding-bottom: 10px;
    margin: 44px 0 0;
    border-bottom: none;
    color: #646464;
}
.btn-default {
    color: #646464;
    background-color: #D5D5D5;
    border-color: #D5D5D5;
}
.btn-sort {
    color: #646464;
    background: #F7F7F7;
}
.btn-primary {
    color: #fff;
    background-color: #5898FD;
    border-color: #5898FD;
}
.btn-primary:hover {
    color: #fff;
    background-color: #4e88e0;
    border-color: #4e88e0;
}
img.umw-logo {
    width: 23%;
    height: auto;
}
ul.navbar-nav.mr-auto {
    padding: 10px;
}
.navbar {
    padding: 15px 0 15px;
    border-bottom: 10px solid #E8E8E8;
}
.navbar-brand {
    padding: 0 15px;
}
.row.outer {
    margin: 0 0 40px;
}
p.copyright {
    font-size: 18px;
}

@media (min-width: 1200px) {
    .container {
        width: 1250px;
        max-width: 1300px;
    }
}

/* body */
.btn-group-xs>.btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.breadcrumb>li+li:before {
    content: "/\00a0";
    /*padding: 0 5px;*/
    color: #ccc;
}
ol.breadcrumb{
    padding: 0;
}
.row:after {
    clear: both;
}
.row:after, .row:before {
    content: " ";
    display: table;
}
.form-control {
    height: 36px !important;
}
td.mv-right {
    text-align: right;
}
.document input[type="file"] {
    padding-bottom: 10px;
}
.login .form-check-label {
    padding: 0 20px;
}
/* footer */
div#footer {
    margin-bottom: 20px;
}
/* message error */
.alert-dismissable .close, .alert-dismissible .close {
    top: -8px;
}
.padding1 {
    padding: 50px 0 0 !important;
}
.padding2 {
    padding: 20px 0 10px 0;
}
.custom1 {
    width: 240px;
    height: 95px;
    white-space: pre-wrap !important;
    justify-content: center;
    display: flex;
    align-items: center;
}
@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    .navbar-nav > li {
        height: 45px;
    }
}
/* table user */
.center {
    text-align: center;
}
.btn-bulkedit {
    padding: 30px 0 0;
}

/*form*/
textarea.form-control {
    height: auto !important;
}

/* bootstrap */
.form-row.custom-field {
    padding: 0 0 20px;
}
@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: left;
    }
}
@media (min-width: 992px) {
    .single .col-md-9.right-side {
        margin: 0;
        width: 74.1%;
    }
    .add.project .col-md-4 {
        width: 34%;
        max-width: 34%;
    }
    .add.project .col-md-5 {
        width: 42.7%;
        max-width: 42.7%;
    }
    .single.project .next .col-md-3 {
        width: 32.5%;
        max-width: 32.5%;
    }
    .single.project .next .col-md-4 {
        width: 32.9%;
        max-width: 33.6%;
    }

}

/* project page */
.border-shadow {
    background: #fff;
    box-shadow: 0 3px 8px rgba(0,0,0,.16);
    margin:  0 10px 0 0;
}
.left-side {
    padding: 0 10px 0 0;
}
.right-side {
    padding: 30px;
}
h3.title {
    margin: 0;
}
.left-side .page-header {
    border-bottom: none;
    padding-bottom: 0;
}
.col-md-6.form-group:nth-child(odd) label.control-label, .col-md-6.form-group:nth-child(odd) .cs-section, .col-md-6.form-group:nth-child(odd) {
    padding-left: 0;
}
.col-md-6.form-group:nth-child(even) label.control-label, .col-md-6.form-group:nth-child(even) .cs-section, .col-md-6.form-group:nth-child(even) {
    padding-right: 0;
}
.col-md-6.form-group {
    width: 54%;
    max-width: 55%;
}
.full {
    padding: 0;
}
.mr-full {
    margin: 0 !important;
}
.cs-section.sv-submit {
    margin: 10px 0;
}
.breadcrumb {
    background: unset;
}
.breadcrumb a {
    color: #646464;
}
span.count {
    display: block;
    padding-bottom: 20px;
}
h3.number {
    padding-bottom: 10px;
    margin: 44px 0 10px;
    font-size: 55px;
}
.pending .number {
    color: #E37777;
}
.completed .number {
    color: #068B0B;
}

.dropdown.pull-right {
    margin: 10px 0 20px;
}
.dropdown-toggle:after {
    content: none;
}

/* add project */
.col-md-9.right-side {
    width: 74%;
}
.add.project .page-header {
    margin: 44px 0 0;
}
.add.project .col-md-4.form-group {
    padding: 0 0 0 15px;
}
.add.project .col-md-5.form-group, .add.project .col-sm-5.my-1{
    padding: 0;
}
.add label.control-label {
    color: #bc0c0c;
}
label.lbl-title {
    font-weight: normal;
    margin-left: 20px;
}

/* table */
tbody th, tr, .table-bordered, td {
    background: #fff;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
}
th {
    color: #646464;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 2px solid #DBDBDB !important;
}
td {
    font-size: 14px;
    border-bottom: 1px solid #E6E6E6 !important;
}

/* single project */
.project .col-md-3.note {
    margin: 0 10px 20px 0;
}
.single .note h3.title {
    color: #fff;
    margin: 44px 0 0;
}
.single .left-side.note {
    color: #fff;
    background: #5898FD;
    padding: 0 25px 29px;
    margin: 0 10px 0 0;
}
.single .link {
    padding: 20px 0 0;
}
.single .link a {
    color: #fff;
    display: block;
}
.project .title, .project .ref-no {
    padding-bottom: 10px;
    margin: 10px 0 20px;
}
.project h4.lbl {
    color: #D5D5D5;
    font-size: 16px;
    margin-top: 0;
}
.project h3.page-header {
    margin: 0;
    padding: 3px 0;
}
.project .ref-no {
    text-align: right;
}
.project p.details {
    height: 70px;
}
.project .note p{
    padding-top: 10px;
}
.cs-section.next {
    margin: 30px 0;
}
.next .col-md-8, .next .col-md-3, .next .col-md-4, .cs-section.summary {
    padding: 30px;
}
.project .next h3.page-header, .summary .page-header {
    color: #003261;
}
.single.project .table-bordered {
    margin: 20px 0;
}
a.btn-add {
    display: block;
    color: #5898FD;
}
a.btn.manage, button.btn.manage {
    color: #5898FD;
    background: #fff;
    border: 1px solid #5898FD;
    margin: 30px 0 0;
}
a.btn.manage:hover, button.btn.manage:hover {
    color: #fff;
    background: #5898FD;
}
p.nothing {
    padding: 30px 0 0;
}
.report a.btn {
    margin: 0 0 0 5px;
}
.single.project .save.form-inline {
    margin: 20px 0;
}
.save button.mr-full {
    padding: 8px 10px;
}

/* manage project criteria */
.project.criteria .sec.title, .project.criteria .sec.note, .project.criteria .sec.link  {
    margin: 0 0 20px;
    padding: 30px 25px;
}
.project.criteria .sec.title h3, .project.criteria .sec.note h3, .project.criteria .sec.link h3 {
    margin: 0;
    font-size: 22px;
}
.project .sec.link a {
    display: block;
    color: #5898FD;
}
a.btn.manage.row {
    margin: 30px 0;
}
.vr-middle {
    vertical-align: middle !important;
}
.project.criteria .cs-section.sec.title {
    background: #D5D5D5;
}
.project.criteria h4.lbl {
    color: #646464;
    font-size: 14px;
}

/* manage project supplier */
.project.supplier .sec.title, .project.supplier .sec.note, .project.supplier .sec.link  {
    margin: 0 0 20px;
    padding: 30px 25px;
}
.project.supplier .sec.title h3, .project.supplier .sec.note h3, .project.supplier .sec.link h3 {
    margin: 0;
    font-size: 22px;
}
.project.supplier .cs-section.sec.title {
    background: #5898FD;
}
.project.supplier .title h4.lbl, .project.supplier .title h3.title {
    color: #f7f7f7;
}
.project.supplier .full.mr {
    padding: 0 0 20px;
}
.project.supplier .form-inline.search input {
    margin: 0 20px 0 0;
    width: 40%;
}
.project.supplier button.btn.manage {
    margin: 0;
}
.project.supplier .add .form-inline input {
    margin: 0 20px 0 0;
    width: 30%;
}
button.btn.save {
    padding: 6px 40px;
}

/* manage project evaluator */
.cs-section.form-inline.search.mr {
    margin-bottom: 15px;
}
.project.evaluator .form-inline.search input {
    width: 30%
}
a.btn.manage.mr {
    margin: 0;
}
.project.evaluator .search p.lbl {
    padding: 0 20px;
    margin: 0;
    display: inline-block;
}

/* Evaluator Part*/

/* Dashboard */
.success {
    color: #068B0B !important;
    background: #fff !important;
}
.error {
    color: #E37777 !important;
}
.evaluation .col-md-3.left-side {
    padding: 0 10px 0 0;
}
.evaluation .col-md-9.right-side {
    width: 75%;
}
.evaluation .pending.border-shadow, .evaluation .completed.border-shadow, .col-md-3 .pending, .col-md-3.note {
    padding: 44px 25px 25px;
    margin: 0 0 20px;
}

/* evaluate project */
.single.evaluate .left-side.note {
    color: #646464;
    background: #f7f7f7;
    padding: 44px 25px 115px;
}
.single.evaluate .note h3.title {
    color: #646464;
}
.single.project .benchmark-note.col-md-4 {
     width: 32.5%;
     max-width: 32.5%;
}
.single.evaluate .left-side.note p {
    line-height: 52px;
}
.single.evaluate .benchmark-note h3.page-header {
    color: #646464;
    font-size: 20px;
}
.single.evaluate .benchmark-note .details {
    padding: 10px 0 0;
}
.single.evaluate .benchmark-note span.meta {
    display: block;
    padding: 10px 0;
}
.single.evaluate .btn-evaluate {
    margin: 20px 0 0;
}
.cs-section {
    display: block;
    float: left;
    position: relative;
    min-height: 1px;
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
    -webkit-box-flex: 0;
}
h3.header {
    margin: 10px 0 20px;
    color: #646464;
}
.box-header{
    padding-left: 7px;
}
.cs-section.nx-btn.full {
    margin: 40px 0;
}

/* Hanif's new css */

/*Login*/
img.login{
    margin-top: 30px;
}
.form-group.login{
    padding-top: 15px;
}
div.role small a{
    padding: 30px;
}
div.role, div.contact{
    margin-top: 50px;
}
.login h1{
    font-weight: 400;
}
.login label{
    font-weight: 500;
    font-size: 15px;
}
.login form{
    width: 30%;
}
.login input{
    background-color: white !important;
}
.login button{
    height: 40px;
    border-radius: 2px;
    margin-left: 38.666667%;
}
.login form .login div.col-xs-4{
    margin-top: 10px;
}

/*Navbar dropdown*/
ul.navbar-nav .dropdown{
    position: relative;
    display: inline-block;
    padding: 11px;
    color: #003261;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-icon{
    height: 30px;
    width: 30px;
}

/*Supplier Management*/
input.supplier-search{
    border: 1px solid #A7A7A7 !important;
}
.supplier .note, .users .note{
    padding-top: 0;
}
.supplier form input[name='nickname']{
    margin-left: 30px;
}

/*Users management*/
.users .number{
    color: #068B0B;
    font-weight: 400;
}
.ghost-box{
    background-color: transparent !important;
}
.supplier form.create{
    padding-top: 10px;
    padding-left: 15px;
}
.user .note h3{
    padding-top: 20px;
}
.user div.inner{
    width: 73%;
    margin-left: 0.1%;
}
.user .second{
    margin-top: 15px;
}

/*Report*/
.report .note ul{
    list-style: none;
    padding-left: 0;
    padding-top: 20px;
}
.primary-box{
    background-color: #5898FD !important;
    color: white !important;
}
.primary-box h3.mr-full{
    color: white;
}
.report .project-title-box{
    width: 74%;
    margin-left: 1%;
    margin-right: 0;
}
.report small.ghost-text{
    color: #D5D5D5;
}
.report .project-title-box p{
    padding-top: 10px;
}
.report.next h3.page-header, .summary.detailed h3{
    margin-top: 0;
    color: #003261 !important;
}
.report.next .middle-box{
    width: 30.73%;
}
.summary.detailed{
    width: 99.1%;
}
.note-box{
    height: 236px;
    margin-bottom: 0 !important;
}
.report h3.white{
    color: white;
}
/*General*/
.supplier-search, .btn-sortby{
    margin: 0 !important;
    height: 30px !important;
    padding: 0 30px 0 15px;
    background-color: #F7F7F7;
    border: none;
    box-shadow: none;
    /*border-radius: 0;*/
}
.btn-save{
    padding: 5px 40px;
    border-radius: 0;
}
.form-create{
    background-color: #F7F7F7;
    border: 1px solid #A7A7A7;
}
.form-create::placeholder{
    color: #646464;
}


/* new */
.navbar-light .navbar-nav .nav-link {
    color: #003261;
}
.cs-section.mr-b {
    margin-bottom: 15px;
}
.form-group label.control-label {
    padding: 0 15px;
    width: 100%;
}
.form-group .cs-section {
    padding: 0 15px;
}
.save button.btn.manage {
    color: #fff;
    background: #5898fd;
    border: 1px solid;
    margin-left: 10px !important;
}
.save button.btn.manage:hover {
    color: #646464;
    background: #d5d5d5;
}
.add.project .cs-section.full.btn {
    margin: 40px 0 0;
}
.dropdown .btn .caret{
    margin-left: 10px;
}
.cs-section.form-inline.search.mr {
    margin-bottom: 15px;
}
.supplier .document input[type="file"] {
    width: 100%;
}
.cs-section.form-inline.search {
    margin-bottom: 15px;
}
.project-count{
    padding: 25px;
    margin: 0;
}
.report.text-center{
    width: 100%;
}
.full.report .col-md-4.border-shadow{
    width: 32.7%;
    max-width: 35%;
}