/*!
 * Custom CSS for UMW Tender
 */

/* header */
body {
	font-family: Nunito,sans-serif !important;
	color: #777 !important;
}
.page-header {
	padding-bottom: 10px;
	margin: 44px 0 22px;
	border-bottom: 1px solid #eee;
}
img.umw-logo {
    width: 23%;
    height: auto;
}
.navbar {
	padding: 0;
}
.navbar-brand {
	padding: 0 15px;
}
.row.outer {
	margin: 0 0 40px;
}

/* body */
.btn-group-xs>.btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.breadcrumb>li+li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #ccc;
}
.row:after {
    clear: both;
}
.row:after, .row:before {
    content: " ";
    display: table;
}
.form-control {
	height: 36px !important;
}
td.mv-right {
	text-align: right;
}
.document input[type="file"] {
	padding-bottom: 10px;
}
.login .form-check-label {
	padding: 0 20px;
}
/* footer */
div#footer {
    margin-bottom: 20px;
}
/* message error */
.alert-dismissable .close, .alert-dismissible .close {
	top: -8px;
}
.padding1 {
    padding: 50px 0 0 !important;
}
.padding2 {
    padding: 20px 0 10px 0;
}
.custom1 {
    width: 240px;
    height: 95px;
    white-space: pre-wrap !important;
    justify-content: center;
    display: flex;
    align-items: center;
}
@media (min-width: 768px) {
	.navbar-expand-md .navbar-nav .nav-link {
	    padding-right: 1.5rem;
	    padding-left: 1.5rem;
	}
	.navbar-nav > li {
		height: 45px;
	}
}
/* table user */
td.center {
    text-align: center;
}
span.count {
    color: #068B0B;
    font-size: 30px;
}
.btn-bulkedit {
    padding: 30px 0 0;
}

/*hanif style*/
textarea.form-control {
    height: auto !important;
}